body {
  background-color: black;
  color: white;
}
.a{font-size: xx-large;}

.List{
  margin-bottom: 30px;
}

.color {
  color: #BCD1BA ;
}

.color2 {
  color: #DEDC54;
}

.color3 {
  color: #A6B9C4;
}

.color4 {
  color:#D7D9C4;
}

.color5 {
  color: #CCDEDD;
}

.color6 {
  color: #DCD3DE;
}
.color7 {
  color: #AB586F;
}