{% extends 'base.html' %}
{% block content %}
  <link href="b.css" rel="stylesheet">
  
  </head>
  <body>
<h2>게임 소개</h2>
<p>1. 메이플스토리 : 2002년 12월과 2003년 1월에 2차에 걸쳐 진행된 CBT를 거쳐, 2003년 4월 29일부터 상용 서비스를 시작했으며, 2022년 현재 19주년을 맞았다. <br>세계 최초의 횡스크롤 MMORPG를 표방하고 있으며, 다채로운 필드에서의 여행과 모험을 강조하고 있다. 캐치 프레이즈는 '끊임없는 즐거움, 스스로 만들어 나가는 이야기, 상상 속의 세계'다.<br>

<br>2. 퍼스트 디센던트 : 넥슨게임즈에서 제작하고 Steam을 통해 배급하는 PC, 콘솔 기반의 3인칭 시점 루트슈터 액션 게임. 2023년에 Xbox One, Xbox Series X/S, PS4, PS5, PC 플랫폼으로 출시 예정에 있다.<br>

<br>3. 카트라이더 : 넥슨의 로두마니 스튜디오에서 크레이지 아케이드의 캐릭터를 사용해 2004년 출시한 한국의 온라인 레이싱 게임. 베타 서비스는 6월에 시작했으며 정식 서비스는 8월 18일에 시작하였다. <br>현재 18년째 서비스 중이다. 개발 당시 가제는 크아 레이싱으로, CA-R로 줄여서 부르기도 한다. 크레이지 아케이드, 메이플스토리와 함께 장수하면서 넥슨의 대표 게임 중 하나다.<br>

<br>4. 서든어택 : 넥슨게임즈에서 제작한 온라인 FPS 게임이다. 게임모드는 데스매치, 점령미션, 인질구출 등이 있다.<br>

<br>5. 엘소드 : 2007년에 출시했으며, 그랜드체이스의 후속작이다. 캐릭터로 몬스터와 던전에서 싸우는 게임으로 지금은 망소드 혹은 엘망겜으로 불린다.<br>

<br>6. 바람의 나라 : 현재 26주년을 맞은 온라인게임으로 고구려 시대의 전쟁 이야기를 배경으로 그렸다.</p>
{% endblock %}