{% extends 'base.html' %}
{% block content %}
<head>
  <style>
     img {
        width:300px;
        height:250px;
        padding:20px ;
        padding-top: 70px; }
        
     #aa {float:left;}      /* 이미지 가로 배치 */      
     #bb {clear: left; }    /* 이미지 가로 배치 해제 */
  </style>
</head>
<body>
   <link href="b.css" rel="stylesheet">

<p id = 'aa'><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPfI4EH2yIZP-sskHdiP4v8K5s6uvfDu0Z_q1e7iKCNzDUmPOObDqEXP9HxspMI9J_EXo&usqp=CAU'><br>
  &nbsp;  &nbsp; 메이플스토리  <input type="button" value="쇼핑카트에 추가하기"></p>
<p id = 'aa'><img src="http://file.mk.co.kr/meet/neds/2022/10/image_readtop_2022_915495_16659693015198771.jpg"><br>
  &nbsp;  &nbsp;퍼스트 디센던트  <input type="button" value="쇼핑카트에 추가하기"></p>
<p id = 'aa'><img src="https://newsimg.hankookilbo.com/cms/articlerelease/2020/07/13/0691a7d0-e69b-4129-ae5c-19a2d99bbe3f.jpg"><br>
  &nbsp;  &nbsp;카트라이더  <input type="button" value="쇼핑카트에 추가하기"></p>
<p id = 'aa'><img src="https://i.ytimg.com/vi/85vMUCuehXM/maxresdefault.jpg" ><br>
  &nbsp;  &nbsp;서든어택  <input type="button" value="쇼핑카트에 추가하기"></p>
<p id ='aa'><img src="https://ssl.nexon.com/s2/Game/Elsword/2017/icon/img_opengraph.jpg"><br>
  &nbsp;  &nbsp;엘소드  <input type="button" value="쇼핑카트에 추가하기"></p>
<p id ='aa'><img src="https://i.ytimg.com/vi/7x5qjhKVCZY/maxresdefault.jpg"><br>
    &nbsp;  &nbsp;  &nbsp;  &nbsp;바람의 나라  <input type="button" value="쇼핑카트에 추가하기"></p>
  <p id ='bb'> 
</body>
{% endblock %}