{% extends 'base.html' %}
{% block content %}
<head>
  <link href="b.css" rel="stylesheet">
  
  </head>
  <body>
  <h2>메이플 사건사고</h2>
<p>1. 하드루시드 보상 미구현
2017년 5월 10일 스카니아 서버의 신해조 파티가 하드 루시드 격파에 도전하여<br>
 3페이즈 시작 이후 37초만에 3페이즈 체력 9줄을 깎았지만<br>
마지막 한 줄에서 실피를 남기고 체력이 깎이지 않아서 결국 격파에 실패하였다.<br>

그리고 2017년 5월 26일 오전 12시 경 본섭 하드 루시드 업데이트 적용 이후,<br>
글자네 파티과 신해조 파티가 모두 격파를 시도하여 드디어 마지막 한 줄을 깎아내는 데에 성공했으나<br>
심각하게 긴 무적 시간과 회복 속도가 몇 초의 시간을 잡아먹어 이번에도 격파는 실패.<br>

그렇게 2017년 5월 27일, 오전 12시 24분경에 스카니아 서버의 신해조 파티가 드디어 하드 루시드를 격파하였다.<br>
이 당시 하드 루시드 훈장을 획득하여 분명 격파 성공으로 판정되었으나 어째서인지 Fail 문구가 나타남과 동시에 보상 맵으로 이동되지도 않고 끝났다.</p>

<p>2. 메이플 확률 조작 사건
대한민국 게임업계 연쇄 파동의 한 국면으로서2021년 2월 18일,<br>
메이플스토리에서 추가옵션 확률 균일화 패치를 테스트 서버 패치노트에 공지하면서 생긴 사건을 담은 문서다.<br>
언리미티드와도 견줄만하다는 평가를 받고 있기도 한 만큼, 메이플스토리 최악의 사건 중 하나로 평가받고 있으며,<br>
게임업계 연쇄 파동의 도화선에 불을 지핀 사건이기도 하다.<br>
추가옵션에 서술되어 있듯이 추가옵션은 도움이 되는 공격력/마력/스탯 등의 종류와 전혀 쓸모가 없는 이동속도/점프력 등의 종류가 존재하는데,<br>
이 중 일부 추가옵션 종류는 다른 것보다 부여될 확률이 낮았었음을 의미하는 패치 내용이라 논란이 발생했다.</p>
</body>
{% endblock %}